<center>
  <h1>Add New Client</h1>
</center>
<form action='/clients' method='post'>
  <div class='form-group'>
    <label for="name">Please enter the new client's name:</label>
    <input id="name" name="name" placeholder="name" type="text">
  </div>
  <button type="submit" class="btn-success">Add</button>
</form>
<br>
<a href="/clients">Go Back!</a>
