<center>
  <h1>Add Staff</h1>
</center>
<form action='/staff_members' method='post'>
  <div class='form-group'>
    <label for="name">Please enter the new employee's name:</label>
    <input id="name" name="name" placeholder="name" type="text">
  </div>
  <button type="submit" class="btn-success">Add</button>
</form>
<br>
<a href="/staff_members">Go Back!</a>
